[Unit]
Description=BCAS Flask App
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/BCAS-Team/backend
ExecStart=/usr/bin/python3 /home/pi/BCAS-Team/backend/app.py
Restart=always

[Install]
WantedBy=multi-user.target
